{% extends "shop/base.html" %} {% load bootstrap3 %} {% block title %} Checkout
{% endblock %} {% block content %}

<div class="card">
  <div class="card-header">您的訂單</div>
  <div class="card-body">
    <ul class="list-group">
      {% for item in cart %}
      <li class="list-group-item">
        ${{ item.total_price }}
        <span class="badge">{{ item.product.name }} x{{ item.quantity }}</span>
      </li>
      {% endfor %}
    </ul>
    <p>總額: ${{ cart.get_total_price }}</p>
  </div>
</div>

<h1>訂單資料</h1>
<form action="." method="post" id="orderform">
  {% csrf_token %} {% comment %} {% bootstrap_form form %} {% endcomment %}

  <div class="form-group">
    <label class="control-label" for="uid">lineId</label
    ><input
      type="text"
      name="uid"
      maxlength="50"
      class="form-control"
      readonly="readonly"
      id="uid"
      control-id="ControlID-1"
    />
    <label class="control-label" for="id_name">收件人姓名</label
    ><input
      type="text"
      name="name"
      maxlength="50"
      class="form-control"
      placeholder="收件人姓名"
      title=""
      required=""
      id="id_name"
      control-id="ControlID-1"
    />
  </div>
  <div class="form-group">
    <label class="control-label" for="id_email">Email</label
    ><input
      type="email"
      name="email"
      maxlength="254"
      class="form-control"
      placeholder="Email"
      required=""
      id="id_email"
      control-id="ControlID-2"
      value=""
    />
  </div>
  <div class="form-group">
    <label class="control-label" for="id_address">收件地址</label
    ><input
      type="text"
      name="address"
      maxlength="250"
      class="form-control"
      placeholder="收件地址"
      title=""
      required=""
      id="id_address"
      control-id="ControlID-3"
    />
  </div>
  <button type="submit" class="btn btn-success btn-product">
    <span class="glyphicon glyphicon-shopping-cart"></span> 確定購買
  </button>
</form>

{% endblock %}
